@using Assignment_Asp.NET1.Models.Identity;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> SignInManager

<header>
    <div class="container">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index"><img src="~/image/logo.svg" alt="Logo"></a>
        </div>

        <ul>
            <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
            <li><a asp-controller="Products" asp-action="Index">PRODUCT</a></li>
            <li><a asp-controller="Contacts" asp-action="Index">CONTACT</a></li>
            <li><a asp-controller="Home" asp-action="Index"><i class="fa-light fa-magnifying-glass"></i></a></li>
            @if(SignInManager.IsSignedIn(User))
            {
                <li><a asp-controller="Account" asp-action="Index">@User.Identity!.Name</a></li>
                <li><a asp-controller="Logout" asp-action="Index">Logout</a></li>
            }
            else
            {
                <li><a asp-controller="Login" asp-action="Index">Login</a></li>
            }
            <li><a asp-controller ="Home" asp-action="Index"><i class="fa-light fa-cart-shopping"></i></a></li>
           
            
            
  
            
        </ul>

    </div>
</header>
