<div class="front-page-2">
    <div class="hoppla">
        <div class="container-2 d-flex">
            <div class="favs">
                <div class="squares-picture">
                    <img class="squares-picture" src="image/mouse.png" alt="Image">
                </div>
                <div class="squares-info">
                    <h4 class="title">Mouse PRO - scelerisque tempore</h4>
                    <h3 class="age">99$</h3>
                </div>
            </div>

            <div class="favs">
                <div class="squares">
                    <p class="title-2">UP TO SELL</p>
                    <p class="title-1">50% off</p>
                    <h4 class="title">MOUSE PRO SERIE</h4>
                    <h3 class="age">99$</h3>
                </div>
            </div>

            <div class="favs">
                <div class="squares-picture">
                    <img class="squares-picture" src="image/mouse.png" alt="Image">
                </div>
                <div class="squares-info">
                    <h4 class="title">Mouse PRO - scelerisque tempore</h4>
                    <h3 class="age">99$</h3>
                </div>
            </div>
        </div>
    </div>
</div>